

body {
  background-color: black;

}

.background {
  
    display: flex;
    align-items: center;
    background-image:linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ), url("../images/coeur.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: gold;
    text-shadow: 1px 1px black;
    background-color: black;
    min-height: 80vh;
    max-width: 100%;
    
  }

.home {
  
  display:flex;
  flex-direction: column;
  margin-bottom: 10vh;
  max-width: 72ch;
  margin-inline: auto;

}
.home h1 {
  margin-bottom: 1.5em;
  color:white;
  font-size: 3rem;
  
}
.home h2 {
  margin-bottom: 10vh;
  color: white;
  font-size: 1.7rem;
}
.home span {
  text-decoration: line-through;
}
.home p {
  color: white;
  font-size: 1.4rem;
}
